<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="neo.vn.test365home">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".ActivityHome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityManageAccount"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivitySetupNotify"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Thongke.ActivityBXH_Home"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityChangePassWord"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityMenuNapPurchase"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityPurchaseCard"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityNaptienTructuyen"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityWebviewNaptien"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityPurchaseCode"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivitySetupSubUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityConfigSubUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityGameDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.SplashScreen"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Longin.ActivityLogin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityNewActive"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityThanksWelcome"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityRegister"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityWebviewDieukhoan"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityUpdateInfo"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Setup.ActivityUpdateSubUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSearch.ActivityListDistrict"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSearch.ActivityListCity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSearch.ActivityListSchools"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSearch.ActivityDanhsachNamhoc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MenuSearch.ActivityDanhsachKhoihoc"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityAddSubUser"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityDownloadAppKid"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Longin.ActivityStart"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Baitap.ActivityKhobaitap"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Baitap.ActivityBaitapDetail"
            android:screenOrientation="portrait" />
        <activity
            android:name=".View.Baitap.ActivityCauhoiDetail"
            android:screenOrientation="portrait" />

        <service android:name=".Service.MyFirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Service.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".FragmentNavigationBaitap"
            android:label="@string/title_activity_fragment_navigation_baitap"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>